* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #f2f2f2;
}
.container {
    position: relative;
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    transform: skewY(-10deg);
}
.container .cards {
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    transition: 0.5s;
}
.container .cards::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background: #f4f56e;
    border-left: 1px solid white;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
.container .cards::after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 50%;
    background: #f4f56e;
    transform-origin: left;
    transform: skewY(45deg);
    transition: 0.5s;
    border-right: 1px solid white;
    border-bottom: 200px solid #d9d9d9;
}
.container .cards:hover {
    transform: translateY(-40px);
}
.container .cards .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f4f56e;
}
.container .cards .imgBx img {
    max-width: 120px;
    filter: invert(1);
}
.container .cards .imgBx h3 {
    position: relative;
    color: white;
    margin-top: 20px;
}
.container .cards .content {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px;
    color: #222;
    text-align: center;
}
.container .cards .content::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(transparent, transparent, rgba(0,0,0,0.3));
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
}
.container .cards:hover .content::before {
    transform: translateY(40px) skewX(45deg);
    filter: blur(5px);
    opacity: 0.5;
}